

.footerCard {
    background-color: rgb(54, 45, 45);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 30px);

}

h3 {
    color: rgb(236, 107, 60);
    font-style: impact;
    font-size: 15px;
    width: 300px;
    line-height: 30px;
    text-align: justify;
}

p {
    font-size: 15px;
}
h4 {
    font-size: 12px;
}